@import '../../styles/variables';
@import '../../styles/mixins';

.elder-record-edit {
  padding: 16px;
  margin-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.045);

  h5 {
    margin-bottom: 16px;
    @include font(16px, 20px, 600, $emoGrey);
  }

  .btn-upload {
    width: 100%;
    cursor: pointer;
    padding: 8px 16px;
    position: relative;
    margin-bottom: 24px;
    justify-content: center;
  }

  .btn-remove {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .btn-add {
    margin: 10px;
  }

  .btn-trash {
    border: none !important;
  }

  .input-feild {
    margin-top: 10px;
    max-width: 30% !important;
    margin-right: 10px;
  }

  .multiparty-inputs-row {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    .form-group {
      margin-right: 8px;
      margin-bottom: 0px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .form-group {
    .btn-link {
      margin-bottom: 0px;
    }
  }

  .existing-attachments {
    margin-bottom: 16px;

    &-item {
      width: 100%;
      padding: 8px 16px;

      border: 1px solid rgba(0, 0, 0, 0.085);
    }

    &-text {
      max-width: 100%;
      word-wrap: none;
      overflow: hidden;
      margin-right: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include font(14px, 18px, 400, $emoGrey);
    }

    &-remove {
      border: none;
      background-color: transparent;
      @include font(14px, 18px, 1, $emoGrey);
    }
  }
}
