@import '../../styles/variables';
@import '../../styles/mixins';

.image img,
.banner-image img {
  max-width: 100%;
  max-height: 300px;
}

.banner-image {
  margin-bottom: 32px;
}

.community-title {
  margin-bottom: 24px;
}

.community-type,
.community-start-date,
.community-end-date,
.community-status,
.community-author,
.community-summary {
  margin-bottom: 10px;
}

.community-title h2 {
  @include font('20px', '26px', '600', $emoMaroon);
}
