@import '../../styles/variables';
@import '../../styles/mixins';

.elderdetails-page {
  height: calc(100vh - 60px);

  .sidebar-page-wrapper {
    height: 100%;
  }

  .btn-secondary {
    margin-left: 8px;
    border: 1px solid $emoMaroon;
  }

  .internal-content {
    overflow-y: auto;
    background-color: $white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.085);
  }

  .btn-link {
    padding: 8px 0px;
    margin-bottom: 20px;
    @include font('', '', '', $emoGrey);
  }

  .record-actions {
    a,
    .btn-record-action {
      width: 32px;
      height: 32px;
      padding: 4px;
      display: flex;
      margin-right: 16px;
      align-items: center;
      justify-content: center;
      border: 1px solid $emoMidGrey;
      @include font(16px, 20px, '', $emoGrey);

      &:last-child {
        margin-right: 0px;
      }
    }

    .alert-lamp {
      width: 20px;
      height: 20px;
      filter: grayscale(1) opacity(0.7);
    }
  }

  .vertical-separator {
    width: 1px;
    height: 16px;
    margin: 0px 16px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.085);
  }
}

.elderdetails-page.sidebar-page--closed {
  .internal-content {
    transition: left 0.5s ease;
    @include position(absolute, 84px, 32px, 32px, 54px);
  }
}

.elderdetails-page.sidebar-page--open {
  .internal-content {
    transition: left 0.5s ease;
    @include position(absolute, 84px, 32px, 32px, 282px);
  }
}
