@import '../../styles/variables';
@import '../../styles/mixins';

.application-sidebar {
  width: 250px;
  height: 100%;
  z-index: 1010;
  background-color: $white;
  @include position(fixed, 60px, '', 0px, 0px);
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.085);

  &-container {
    height: 100%;
    padding: 16px;
    overflow-y: auto;
    max-height: 100%;
    padding-top: 32px;
    padding-bottom: 100px;
    
  }
  .application-sidebar-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .application-sidebar-container::-webkit-scrollbar-track {
    background: red;
  }
  
  &-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  &-container::-webkit-scrollbar-thumb:hover {
    background: red;
  }
  .navigation-list {
    padding: 0px;
    list-style-type: none;

    & > li {
      margin-bottom: 16px;
      border-bottom: 1px solid $emoLightGrey;

      &:first-child,
      &:last-child {
        border-bottom: none;
      }
    }

    a {
      display: flex;
      padding: 8px 16px;
      align-items: center;
      justify-content: flex-start;
      @include font(16px, 20px, 400, $emoMaroon);

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        background-color: $emoLightGrey;
      }
    }

    svg {
      width: 20px;
      margin-right: 8px;
      @include font(16px, 1, '', '');
    }

    svg.fa-chart-bar,
    svg.fa-running {
      @include font(18px, 1, '', '');
    }

    .alert-lamp {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }

  .navigation-sublist {
    margin: 0px;
    padding: 0px;
    padding-left: 28px;
    list-style-type: none;

    & > li {
      border: none;
      margin-top: 4px;
      margin-bottom: 16px;
    }

    a {
      @include font(14px, 18px, 400, $emoMaroon);
    }
  }
  .side-bar-button {
    height: 24px !important;
    padding: 0px !important;
    margin: 0 16px 0 0;
  }
}
