@import '../../styles/variables';
@import '../../styles/mixins';

._pl10{
  padding-left: 10px;
}

.text-lowercase{
  text-transform: lowercase;
}

.tab-wrapper{
  padding:5px 0;

  .bg-formData{
    background: $emoLightGrey;
  }

  ._formlist{
    padding:10px 0;
  }

  .tab-main-title{
    padding:12px 15px;
    //border-top: 1px solid $emoPurple;
    color: $white;
    background: $emoPink;
  }
  .tab-sub-title{
    padding:10px 15px;
    font-weight: bold;
    border-bottom: 1px solid $emoMidGrey;
  }

  .tab-link{
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgba($color: $black, $alpha: 0.2);
    border-radius: 3px;
    line-height: initial;
    .title-tab-link{
      font-weight: 700;
    }
    .collapsible-tab-link{
      font:0.75rem arial;
      opacity: 0.7;
    }
    
    // &:hover{
    //   background: rgba($color: $black, $alpha: 0.1);
    // }
  }
  &.tab-wrapper-active{
    .tab-link{
      color: $white;
      background: $emoMaroon;
      border-color: $emoMaroon;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .tab-container{
      border: 1px solid $emoMaroon;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .no-data{
    padding: 15px;
  }
}

.table-documentation{ 
  //width: 100%;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  //border-top-width: 0;
  font:0.875rem Arial, Helvetica, sans-serif;
  .formLabel{
    background: #dedede;
    width: 200px;
    vertical-align: top;
  }
  td{
    width: 200px;
    min-width: 200px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(228, 131, 131);
    .isActive{
      background: green;
      display: block;
    }
    .list_radius{
      margin: 0;
      padding: 0 5px;
      color: #ffffff;
      position: relative;
      min-height: 30px;
      border-radius: 20px;
      span{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        line-height: initial;
      }
    }
    .unActive{
      background: red;
      display: block;
    }
    .doc-icon-yes{
      height: 30px;
      display: block;
      position: relative;
      &:after{
      content: '';
        border-left: 3px solid green;
        border-bottom: 3px solid green;
        width: 14px;
        height: 9px;
        display: block;
        transform: rotate(-45deg);
        position: absolute;
        top: 8px;
        left: 2px;
        }
    }
    .doc-icon-no{
      height: 30px;
      display: block;
      position: relative;
      &:after{
        content: '+';
        display: block;
        transform: rotate(-45deg);
        position: absolute;
        top: 0;
        font-weight: bold;
        font-size: 2rem;
        color: red;
        left: -2px;
        }
    }
    &:last-child{
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    &.hide:not(:first-child){
        display: none;
      }
    &.hide{
      div{
        //font-weight: bold;
      }
    }
    // > div{



    //   padding: 0 5px;
    //   line-height: 30px;
    //   min-height: 30px;
    //   border-top: 1px solid rgba(0, 0, 0, 0.1);
    //   text-transform: capitalize;
    //   white-space: nowrap;
    //   &:empty{
    //     display: none;
    //   }

    > div{
        padding: 0 5px;
        height: 40px;
        width: 200px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        & > div{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          width: 100%;
        }
        &:empty{
          display: none;
        }
    }


    }
  //}
}

.format-sheet{
  overflow-y: scroll;
}

.main-title-format-sheet{
  padding-top: 15px;
  span{
    background: #5a5a5a;
    color: #ffffff;
    padding: 4px 6px;
    font: 0.75rem arial;
  }
}

.title-format-sheet{
  padding: 10px 0 5px;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1rem;
  color: #780001;
}

.sub-title-format-sheet{
  padding: 20px 0 5px 0;
  opacity: 0.8;
  font-weight: bold;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.documentation-tab{
  overflow-x: hidden;
  .form-group{
    margin-bottom: 0;
  }

  .ant-calendar-picker:hover .ant-calendar-picker-clear{
    display: none;
  }
}

.emergencySection{
  background: rgba(255, 0, 0, 0.05);
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &.dailySection{
    background: rgba(0, 0, 0, 0.02);
  }
  &.attSection{
    background: rgba(0, 86, 0, 0.2);
  }
  > *{
    padding-left: 15px;
    padding-right: 15px;
  }
  .childList{
    padding-bottom: 15px;
  }
}

.nav-doc{
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
  span{
      background: #f3f3f3;
      padding: 8px 10px;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      &:hover{
        background: #dddddd;
      }
  }
}

.emergencySection.es{
  .table-documentation:not(:empty){
    margin-bottom: 15px;
  }
}

.format_doctable{
  display: flex;
  .formLabel{
    background: #dedede;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 240px;
    & > div{
        padding: 0 5px;
        height: 40px;
        width: 200px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        & > div{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
        &:empty{
          display: none;
        }
    }
  }
  .right_list{
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px 0 0;
  }
}

.sticky-table-cell-header {
    max-width: 15vw;
    white-space: pre-wrap;
    font-weight: bold;
    text-align: center;
}

.sticky-table-cell {
  min-width: 15vw;
  height: 30px;
  white-space: pre-wrap;
  text-align: center;
}
