@import '../../styles/variables';
@import '../../styles/mixins';

.viewresponder-page {
  .statusToggle {
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.085);
    padding: 8px 0 0 0;
    align-items: center;
    margin-bottom: 12px;

    h5 {
      @include font(16px, 20px, 600, $emoGrey);
    }
  }

  .availibilityToggle {
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.085);
    padding: 8px 0 0 0;
    align-items: center;
    margin-bottom: 32px;

    h5 {
      @include font(16px, 20px, 600, $emoGrey);
    }
  }

  .elder-details {
    .ant-checkbox-wrapper {
      padding: 0px !important;
      display: inline-block !important;
    }
  }

  .existing-attachments {
    margin-bottom: 16px;

    &-item {
      width: 100%;
      padding: 8px 16px;

      border: 1px solid rgba(0, 0, 0, 0.085);
    }

    &-text {
      max-width: 100%;
      word-wrap: none;
      overflow: hidden;
      margin-right: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include font(14px, 18px, 400, $emoGrey);
    }

    &-options {
      a {
        margin-right: 8px;
        @include font(14px, 18px, 400, $emoMaroon);
      }
    }

    &-remove {
      border: none;
      margin-top: 0px !important;
      background-color: transparent;
      @include font(14px, 18px, 1, $emoGrey);
    }
  }
}

.viewresponder-page.sidebar-page--closed {
  .internal-content {
    transition: left 0.5s ease;
    @include position(absolute, 84px, 32px, 32px, 54px);
  }
}

.viewresponder-page.sidebar-page--open {
  .internal-content {
    transition: left 0.5s ease;
    @include position(absolute, 84px, 32px, 32px, 282px);
  }
}

// .ant-checkbox-group {
//   display: flex;
//   justify-content: space-between;
//   text-align: center;
// }
