.socialTabLocationForm .ant-space-item {
    width: 100%;
}

.socialTabLocationForm .site-tag-plus {
    background: #fff;
    border-style: dashed;
}

.socialTabLocationForm .edit-tag {
    margin-bottom: 8px;
    font-size: 14px;
    user-select: none;
}

.socialTabLocationForm .tag-input {
    width: 78px;
    margin-right: 8px;
    font-size: 14px;
    vertical-align: top;
}