@import "../../styles/variables";
@import "../../styles/mixins";

.internal-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;

  &-left,
  &-right {
    display: flex;
    align-items: center;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  h2 {
    @include font(22px, 28px, 600, $emoGrey);
  }

  .btn-primary {
    svg {
      margin-right: 4px;
    }
  }
}

.global-search {
  .form-group {
    margin-right: 32px;
    margin-bottom: 0px;
  }

  .btn-search {
    width: 40px;
    padding: 8px 4px;
    border: 1px solid transparent;
    @include position(absolute, 1px, 1px, 1px, "");

    &:hover,
    &:focus {
      background-color: $emoMaroon;
      border: 1px solid transparent;
      @include font("", "", "", $white);
    }

    svg {
      margin-right: 0px;
    }
  }

  .form-control {
    min-width: 20vw;
    padding: 8px 16px;
    padding-right: 53px;
    @include font(14px, 18px, 400, $emoGrey);
  }
}

.select-service-type {
  .ant-select {
    @include font(14px, 18px, 600, $emoGrey);

    &-open {
      .ant-select-selection {
        border-color: $emoMaroon;
      }
    }

    &-selection {
      border-radius: 0px;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.085);

      &:hover,
      &:focus,
      &:active {
        border-color: $emoMaroon;
      }
    }
  }
}
