@import '../../styles/variables';
@import '../../styles/mixins';

.elder-documents {
  &-header {
    margin-bottom: 16px;

    h4 {
      @include font(16px, 20px, 600, $emoGrey);
    }
  }

  &-add {
    margin-bottom: 16px;

    .form-group {
      width: 100%;
      margin-right: 8px;
      margin-bottom: 0px;
    }

    .btn-secondary {
      padding: 6px 12px;
      margin-left: 0px !important;
      margin-right: 8px;
    }

    .btn-search {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 4px;
      }
    }
  }
}

.elder-records {
  &-wrapper {
    position: relative;
  }

  &-scrollable {
    overflow-y: scroll;
    max-height: 350px;
  }
}
