@import '../../styles/variables';
@import '../../styles/mixins';

.login-page {
  background-color: $white;
  height: calc(100vh - 60px);
}

.login-container {
  width: 100%;
  padding: 32px;
  max-width: 450px;
  margin: 0px auto;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.085);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.085);

  &-header {
    margin-bottom: 24px;

    h3 {
      @include font(20px, 26px, 600, $emoGrey);
    }
  }
}
