@import '../../styles/variables';
@import '../../styles/mixins';

.plans-tab {
  &-pastPlans {
    padding-bottom: 24px;

    h4 {
      @include font(16px, 20px, 600, $emoGrey);
    }

    .btn {
      width: 32px;
      height: 32px;
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }

  &-header {
    margin-bottom: 24px;
  }
}
