@import '../../styles/variables';
@import '../../styles/mixins';

.upload-wrapper {
  width: fit-content;
  margin-bottom: 24px;

  .ant-upload {
    @include font('', '', '', $emoMaroon);
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 175px;
    height: 175px;
    margin-right: 0px;
    margin-bottom: 0px;

    &:hover {
      border-color: $emoMaroon;
    }
  }
}
