@import '../../styles/variables';
@import '../../styles/mixins';

.elder-notes {
  &-header {
    margin-bottom: 24px;

    h4 {
      margin-right: 16px;
      margin-bottom: 0px !important;
    }
  }

  .global-search {
    flex-grow: 1;

    .form-group {
      margin-right: 0px;
    }
  }

  &-list {
    overflow-y: auto;
    max-height: 600px;
  }

  .notes-load {
    margin-bottom: 24px;
  }

  .button-load {
    padding: 4px 12px;
    background: white;
    border: 1px solid $emoMaroon;
    @include font(14px, 18px, 400, $emoMaroon);
  }

  .existing-attachments {
    margin-bottom: 24px;

    &-item {
      width: 100%;
      padding: 8px 16px;
      margin-bottom: 16px;
      border: 1px solid rgba(0, 0, 0, 0.085);
    }

    &-text {
      word-wrap: none;
      max-width: 100%;
      overflow: hidden;
      padding-right: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include font(14px, 18px, 600, $emoGrey);
    }

    &-remove {
      padding: 4px;
      border: 1px solid transparent;
      background-color: transparent;
      @include font(14px, 18px, 1, $emoDarkGrey);
    }
  }
}

.notes-pod {
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.085);

  &-header {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
  }

  .pod-author {
    margin-right: 4px;
    @include font(14px, 18px, 600, $emoBurgundy);
  }

  .pod-created {
    @include font(10px, 14px, 400, $emoGrey);
  }

  .pod-editted {
    @include font(10px, 14px, 400, $emoGrey);
  }

  .pod-content {
    @include font(14px, 18px, 400, $emoGrey);
  }

  &-attachments {
    margin-top: 16px;

    h6 {
      margin-bottom: 8px;
      @include font(12px, 16px, 400, $emoGrey);
    }
  }

  .notes-attachment {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.085);

    &:last-child {
      margin-bottom: 0px;
    }

    p {
      word-wrap: none;
      max-width: 75%;
      overflow: hidden;
      margin-bottom: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include font(12px, 16px, 400, $emoGrey);
    }

    .button {
      @include font(16px, 20px, '', $emoBurgundy);
    }
  }

  &-footer {
    padding-top: 8px;
    margin-top: 16px;
    @include font(10px, 14px, 400, $emoGrey);
    border-top: 1px solid rgba(0, 0, 0, 0.085);
  }
  &-details {
    @include font(12px, 16px, 400, $emoGrey);
  }

  .button {
    border: none;
    padding: 0px;
    margin-right: 8px;
    background: transparent;
    @include font(12px, 16px, 400, $emoGrey);

    &:last-child {
      margin-left: 8px;
    }
  }
}
