@import '../../styles/variables';
@import '../../styles/mixins';

.elder-virtual {
  .replication-pod {
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid rgba(0, 0, 0, 0.085);

    &-item {
      flex-grow: 1;
      margin-right: 16px;
      margin-bottom: 24px;

      &:first-child {
        max-width: 15%;
      }

      .form-group {
        margin-bottom: 0px;
      }

      .btn-link {
        padding: 8px 12px !important;
        margin-bottom: 0px;
      }
    }

    .btn-link {
      padding: 8px 0px;
      margin-bottom: 0px;
    }
  }
}
.wrapper-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
